################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WWS/out/build/x64-debug/.ninja_deps
/WWS/out/build/x64-debug/.ninja_log
/WWS/out/build/x64-debug/src/CMakeFiles/wws.dir/gui.cpp.obj
/WWS/out/build/x64-debug/src/CMakeFiles/wws.dir/hook.cpp.obj
/WWS/out/build/x64-debug/src/CMakeFiles/wws.dir/main.cpp.obj
/WWS/out/build/x64-debug/src/wws.exe
/WWS/out/build/x64-debug/src/wws.ilk
/WWS/out/build/x64-debug/src/wws.pdb
/WWS/out/build/x86-debug
/WWS/.vs/WWS/FileContentIndex/3ab04f7f-9433-43f4-9567-1f4b9708b3b0.vsidx
/WWS/.vs/WWS/FileContentIndex/4f2bf6d0-c40b-40a6-9c0d-7588c13b4bdc.vsidx
/WWS/.vs/WWS/FileContentIndex/5d5297c1-6c60-46cf-b8ff-8172e2fabf41.vsidx
/WWS/.vs/WWS/FileContentIndex/801d58bd-7765-49bf-a015-e00f1af8d032.vsidx
/WWS/.vs/WWS/FileContentIndex/9676d35b-1100-481f-9ea6-d101c721be69.vsidx
/WWS/.vs/WWS/FileContentIndex/98f56bc0-a357-4a8d-bd11-52d0e2a8f534.vsidx
/WWS/.vs/WWS/FileContentIndex/d41146ad-cb43-49ce-b5de-6809d5b9fe99.vsidx
/WWS/.vs/WWS/FileContentIndex/e044b214-c368-46bd-a46f-e4fe7cda3c38.vsidx
/WWS/.vs/WWS/v17/ipch/AutoPCH/2fa608ad6341b99e/MAIN.ipch
/WWS/.vs/WWS/v17/ipch/AutoPCH/6c93bb2fc990fde4/GUI.ipch
/WWS/.vs/WWS/v17/ipch/AutoPCH/84b5c772d897996a/MAIN.ipch
/WWS/.vs/WWS/v17/ipch/AutoPCH/955dd15218955cbc/HOOK.ipch
/WWS/.vs/WWS/v17/ipch/AutoPCH/b2318daeacc40a00/HOOK.ipch
/WWS/.vs/WWS/v17/ipch/AutoPCH/bb4d92f133516bf5/WIN_ENUM.ipch
/WWS/.vs/WWS/v17/ipch/AutoPCH/dda07465b9f325d9/WIN_ENUM.ipch
/WWS/.vs/WWS/v17/ipch/AutoPCH/ebde81205ab0a148/GUI.ipch
/WWS/.vs/WWS/v17/ipch/AutoPCH/f2941c0c705b257c/WWS.ipch
/WWS/.vs/WWS/v17/.wsuo
/WWS/.vs/WWS/v17/Browse.VC.db
/WWS/.vs/WWS/v17/Browse.VC.db-shm
/WWS/.vs/WWS/v17/Browse.VC.db-wal
/WWS/.vs/WWS/v17/Browse.VC.opendb
/WWS/.vs/WWS/v17/DocumentLayout.backup.json
/WWS/.vs/WWS/v17/DocumentLayout.json
/WWS/.vs/cmake.db
/WWS/.vs/ProjectSettings.json
/WWS/.vs/slnx.sqlite
/WWS/.vs/VSWorkspaceState.json
/WWS/.vs/WWS/FileContentIndex/7d7d4cde-9052-499d-af70-2e26964249c0.vsidx
/WWS/.vs/WWS/FileContentIndex/9db6dd64-f46c-46ad-801d-ca07ae8dd819.vsidx
/WWS/.vs/WWS/FileContentIndex/be189176-08d8-4880-996d-127ca18769b2.vsidx
/WWS/.vs/WWS/FileContentIndex/bf5a06be-e3f2-4bf3-a9f0-a1904332dae0.vsidx
/WWS/.vs/WWS/v17/ipch/AutoPCH/364555d571235ad7/SETTINGS.ipch
/WWS/.vs/WWS/v17/ipch/AutoPCH/4792b5e153767dc4/SETTINGS.ipch
/WWS/.vs/WWS/v17/ipch/AutoPCH/92d698efec5f72c2/SETTINGS.ipch
/WWS/.vs/WWS/v17/ipch/AutoPCH/fcb4ad5a598e0e88/SETTING.ipch
/WWS/.vs/WWS/FileContentIndex
/WWS/.vs/WWS/v17/ipch/AutoPCH
/WWS/out/build/x64-debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
/WWS/out/build/x64-debug/.cmake/api/v1/reply/cache-v2-71aaa765c468dd936fc3.json
/WWS/out/build/x64-debug/.cmake/api/v1/reply/cmakeFiles-v1-f458c607d440a2fb587d.json
/WWS/out/build/x64-debug/.cmake/api/v1/reply/codemodel-v2-4bab55e0899eae612627.json
/WWS/out/build/x64-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/WWS/out/build/x64-debug/.cmake/api/v1/reply/directory-src-Debug-c94b7c2814d5a21df52c.json
/WWS/out/build/x64-debug/.cmake/api/v1/reply/index-2025-07-28T13-31-15-0873.json
/WWS/out/build/x64-debug/.cmake/api/v1/reply/target-imgui-Debug-3572e66c7b4283031170.json
/WWS/out/build/x64-debug/.cmake/api/v1/reply/target-wws-Debug-03b6965f3eb213653112.json
/WWS/out/build/x64-debug/.cmake/api/v1/reply/toolchains-v1-60b48f808fa4ca939739.json
/WWS/out/build/x64-debug/CMakeFiles/3.31.6-msvc6/CMakeCCompiler.cmake
/WWS/out/build/x64-debug/CMakeFiles/3.31.6-msvc6/CMakeCXXCompiler.cmake
/WWS/out/build/x64-debug/CMakeFiles/3.31.6-msvc6/CMakeDetermineCompilerABI_C.bin
/WWS/out/build/x64-debug/CMakeFiles/3.31.6-msvc6/CMakeDetermineCompilerABI_CXX.bin
/WWS/out/build/x64-debug/CMakeFiles/3.31.6-msvc6/CMakeRCCompiler.cmake
/WWS/out/build/x64-debug/CMakeFiles/3.31.6-msvc6/CMakeSystem.cmake
/WWS/out/build/x64-debug/CMakeFiles/3.31.6-msvc6/CompilerIdC/CMakeCCompilerId.c
/WWS/out/build/x64-debug/CMakeFiles/3.31.6-msvc6/CompilerIdC/CMakeCCompilerId.exe
/WWS/out/build/x64-debug/CMakeFiles/3.31.6-msvc6/CompilerIdC/CMakeCCompilerId.obj
/WWS/out/build/x64-debug/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/CMakeCXXCompilerId.cpp
/WWS/out/build/x64-debug/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/CMakeCXXCompilerId.exe
/WWS/out/build/x64-debug/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/CMakeCXXCompilerId.obj
/WWS/out/build/x64-debug/CMakeFiles/cmake.check_cache
/WWS/out/build/x64-debug/CMakeFiles/CMakeConfigureLog.yaml
/WWS/out/build/x64-debug/CMakeFiles/rules.ninja
/WWS/out/build/x64-debug/CMakeFiles/ShowIncludes/foo.h
/WWS/out/build/x64-debug/CMakeFiles/ShowIncludes/main.c
/WWS/out/build/x64-debug/CMakeFiles/ShowIncludes/main.obj
/WWS/out/build/x64-debug/CMakeFiles/TargetDirectories.txt
/WWS/out/build/x64-debug/build.ninja
/WWS/out/build/x64-debug/CMakeCache.txt
/WWS/out/build/x64-debug/cmake_install.cmake
/WWS/out/build/x64-debug/src/CMakeFiles/imgui.dir/__/vendor/imgui/backends/imgui_impl_dx11.cpp.obj
/WWS/out/build/x64-debug/src/CMakeFiles/imgui.dir/__/vendor/imgui/backends/imgui_impl_win32.cpp.obj
/WWS/out/build/x64-debug/src/CMakeFiles/imgui.dir/__/vendor/imgui/imgui.cpp.obj
/WWS/out/build/x64-debug/src/CMakeFiles/imgui.dir/__/vendor/imgui/imgui_draw.cpp.obj
/WWS/out/build/x64-debug/src/CMakeFiles/imgui.dir/__/vendor/imgui/imgui_tables.cpp.obj
/WWS/out/build/x64-debug/src/CMakeFiles/imgui.dir/__/vendor/imgui/imgui_widgets.cpp.obj
/WWS/out/build/x64-debug/src/CMakeFiles/wws.dir/embed.manifest
/WWS/out/build/x64-debug/src/CMakeFiles/wws.dir/intermediate.manifest
/WWS/out/build/x64-debug/src/CMakeFiles/wws.dir/manifest.rc
/WWS/out/build/x64-debug/src/CMakeFiles/wws.dir/manifest.res
/WWS/out/build/x64-debug/src/CMakeFiles/wws.dir/win_enum.cpp.obj
/WWS/out/build/x64-debug/src/cmake_install.cmake
/WWS/out/build/x64-debug/src/imgui.ini
/WWS/out/build/x64-debug/src/imgui.lib
/WWS/out/build/x64-debug/Testing/Temporary/LastTest.log
/WWS/out/build/x64-debug/VSInheritEnvironments.txt
/WWS/out/build/x86-release/CMakeFiles/3.31.6-msvc6/CompilerIdCXX
/WWS/out/build/x86-release/CMakeFiles/3.31.6-msvc6
/WWS/out/build/x86-release/CMakeFiles
/WWS/out/build/x86-release/src
/WWS/out/build/x86-release/Testing/Temporary
/WWS/out/build/x86-release/.ninja_deps
/WWS/out/build/x86-release/.ninja_log
/WWS/out/build/x86-release/build.ninja
/WWS/out/build/x86-release/CMakeCache.txt
/WWS/out/build/x86-release/cmake_install.cmake
/WWS/out/build/x86-release/VSInheritEnvironments.txt
/WWS/out/build/x86-release/.cmake/api/v1/reply
